<!-- Layout with Custom Tags -->
<aside id="sidebar">
    {{#each cats}}
    <a href='/category/{{this}}' class="sidebar-category">
        <div>{{ this }}</div>
    </a>
    {{/each}}
</aside>

<script>
    $(".arrow-box").click(function(e) {
        e.preventDefault();
        this.attr("");

    $.post('/vote', {
        title: title,
        vote: vote
    });

    });

    function upvote (title, index) { vote(title, index, 1); }
    function downvote (title, index) { vote(title, index, -1); }
    function vote (title, index, vote) {

        console.log(index);
        countElem = $('#' + index + '-count');
        countElem.html(parseInt(countElem.html()) + vote);
    }
</script>

<div id="content">
    {{#each posts}}
    <div class="post">
        <div class="vert-center">
            <div class="arrows-wrapper">
                <div class="arrow-box upvote" vote=1 title='{{title}}' index={{@index}} > &#x25B2; </div>
                <div id="{{@index}}-count" class="vote-count">{{count}}</div>
                <div class="arrow-box downvote" vote=-1 title='{{title}}' index={{@index}} > &#x25BC; </div>
            </div>

            <div class="post-image"  style="background: url('{{#if image}}{{image}}{{else}}images/smiley.jpg{{/if}}');" ></div>
                <div class="post-content">
                <a href="{{url}}" class="post-header">{{ title }}</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
