<!-- Layout with Custom Tags -->
<aside id="sidebar">
    {{#each cats}}
    <a href='/category/{{this}}' class="sidebar-category">
        <div>{{ this }}</div>
    </a>
    {{/each}}
</aside>

<script>
    $(function() {
        $(".arrow-box").click(function(e) {
            e.preventDefault();

            var title = $(this).attr("title");
            var vote = $(this).attr("vote");

            $.post('/vote', {
                title: title,
                vote: vote
            });

            countElem = $(this).siblings('.vote-count');
            countElem.html(parseInt(countElem.html()) + parseInt(vote));
            $(this).siblings('.arrow-box').prop('disabled', true);
            $(this).prop('disabled', true);
        });
    })
</script>

<div id="content">
    {{#each posts}}
    <div class="post">
        <div class="vert-center">
            <div class="arrows-wrapper">
                <button class="arrow-box upvote" vote=1 title='{{title}}'> &#x25B2; </button>
                <div id="{{@index}}-count" class="vote-count">{{count}}</div>
                <button class="arrow-box downvote" vote=-1 title='{{title}}'> &#x25BC; </button>
            </div>

            <div class="post-image"  style="background: url('{{#if image}}{{image}}{{else}}images/smiley.jpg{{/if}}');" ></div>
            <div class="post-content">
            <a href="{{url}}" class="post-header">{{ title }}</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
